/* vyom: 210623
    upwork project : https://www.upwork.com/jobs/Renovate-static-blog-HTML-and-CSS_%7E01065076083bfce051
    Reduced main container padding to remove unwanted whitespace
.main.outer{padding-top: 50px;} */
.main.outer {
    padding-top: 10px;
}

.header-panel.shadow-z-2 {
    background-color: #009587;
    /* vyom: 210623
    upwork project : https://www.upwork.com/jobs/Renovate-static-blog-HTML-and-CSS_%7E01065076083bfce051
    Reduced top padding to make header thinner
    padding: 50px 0 15px 0; */
    padding: 20px 0 15px 0;
    width: 100%;
}
.full {
    font-size: 16px;
}
.logo-img {
    width: 56px;
    height: 56px;
    border-radius: 60px;
    margin: 0 auto;
}
.logo-turner {
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 2px;
}
.row-content {
    vertical-align: top;
}
.row-picture {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.row-details {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}
p.info {
    color: #fff;
}
p.info a {
    color: #fff;
    text-decoration: underline;
}
.full ul,
.full ol {
    margin-left: 15px;
}
.full img {
    display: block;
    max-width: 100%;
    height: auto;
}
.social-icons {
    margin: 20px 0 0;
}
.icon {
    background: rgba(255, 255, 255, 0.63);
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    color: #009688;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
}
.icon:hover {
    color: rgba(255, 255, 255, 0.63);
    background: #009688;
}
.menu ul li {
    list-style: none;
    margin: 5px 0;
}

.menu ul li a:hover,
.menu ul li a:focus,
li.current-menu-item > a {
    background: #007d72;
}
li.current-menu-item:before {
    content: "";
    display: inline-block;
    height: 55px;
    width: 5px;
    position: absolute;
    left: 9px;
    vertical-align: middle;
    background: #b8ca28;
}
.menu ul li a {
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    display: block;
    text-decoration: none;
    /* vyom: 210623
    upwork project : https://www.upwork.com/jobs/Renovate-static-blog-HTML-and-CSS_%7E01065076083bfce051
    Make left padding less */
    padding: 0 0 0 0px;
    /* vyom: 210623
    upwork project : https://www.upwork.com/jobs/Renovate-static-blog-HTML-and-CSS_%7E01065076083bfce051
    Give padding for selected link background color impression */
    padding-right: 20px;
    color: #fff;
    /* vyom: 210623
    upwork project : https://www.upwork.com/jobs/Renovate-static-blog-HTML-and-CSS_%7E01065076083bfce051
    Give space from siblings */
    margin-right: 10px;
}
.home-subtitle {
    font-size: 26px;
    margin-bottom: 32px;
    margin-top: 5px;
    color: #01c87b;
    font-weight: 300;
}
/* vyom: 210623
    upwork project : https://www.upwork.com/jobs/Renovate-static-blog-HTML-and-CSS_%7E01065076083bfce051
    Updated blog title color to be visible in whitespace. Made bold and center as well.
h2.blog-title-pro{color: #fff;} */
h2.blog-title-pro {
    color: #009587;
    font-weight: bolder;
    text-align: center;
}
h2.blog-title-pro:after {
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    /* vyom: 210623
    upwork project : https://www.upwork.com/jobs/Renovate-static-blog-HTML-and-CSS_%7E01065076083bfce051
    Reduced blog title margin
    margin-top: 16px; */
    margin-top: 10px;
    margin-left: 3px;
    background: rgba(255, 255, 255, 0.72);
}
span.tags {
    margin: 0 2px;
    cursor: pointer;
    display: inline-block;
}
.card .card-image .card-image-headline-custom {
    position: absolute;
    margin-bottom: 0;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 5px 0 12px;
    color: #fff;
    font-size: 2em;
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 83%, rgba(0, 0, 0) 100%);
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 83%, rgba(0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 83%, rgb(0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.card .card-footer a {
    margin: 0 !important;
    position: relative;
    bottom: 25px;
    width: auto;
}
#filters {
    margin: 0 0 25px 0;
}
.list-separator li > a i {
    width: 56px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    font-size: 20px;
}
.error {
    color: #ef7272 !important;
    font-size: 12px !important;
}
#portfolio-filter {
    margin-top: 50px;
}
.navbar-toggle i {
    color: #bcccbf;
}
.menu .list-group-item-heading,
.menu .list-group-item-text {
    color: #fff !important;
}
@media (max-width: 768px) {
    #portfolio-filter {
        margin-top: 0px;
    }
}
footer {
    border-top: 1px solid #c5c0c0;
    width: 100%;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 3em;
    padding-top: 10px;
    color: #444444;
    font-size: 11px;
    bottom: 0;
    padding-bottom: 10px;
}
.pager li.active a {
    background: rgba(89, 148, 129, 0.3);
}
.center-image {
    margin: 0 auto;
    display: block;
}
