---
---

// Custom CSS added as per job post https://www.upwork.com/jobs/Renovate-static-blog-HTML-and-CSS_%7E01065076083bfce051 by Akash <vyom@vyom.site>

.about-page-image {
    // center align items
    text-align: center;
    // give space from following text
    margin-bottom: 20px;

    figcaption {
        // make caption different from rest
        color: gray;
        font-style: italic;
    }
}

.vyom-read-more-button {
    color: #009688;
    font-style: italic;
}

@media (min-width: 1200px) {
    .vyom-blog-archive-post-container {
        clear: both;
        .vyom-featured-image-container {
            float: left;
            width: 30%;
            padding-right: 20px;
        }
        .vyom-blog-excerpt-container {
            float: right;
            width: 70%;
        }
    }
}
// remove box shadow from navigation menu
.vyom-no-box-shadow {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.vyom-remove-padding {
    padding: 0px !important;
}

.vyom-remove-margin {
    margin: 0px !important;
}

.vyom-remove-line-height {
    // remove unwanted margin due to icon
    line-height: 0px !important;
    height: 0px !important;
}

li.current-menu-item::before {
    // remove the unwanted vertical yellow line
    width: 0px;
}

.vyom-site-nav {
    li {
        // align menu items with site branding
        margin-top: 0px !important;
        a {
            // give padding to menu items to make them look good
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }
    }
    @media (max-width: 1200px) {
        // give space to menu from site branding
        margin-top: 10px;
    }
}

.vyom-site-title {
    @media (min-width: 1200px) {
        // make title bigger and bolder to match with sibling menu row height
        font-size: 30px;
        color: #ffffff;
    }
    a {
        // make link visible
        color: #ffffff;
        text-decoration: none;
    }
}

.vyom-vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vyom-blog-archive-post-container {
    .vyom-featured-image-container {
        // give space from bottom separator
        margin-bottom: 10px;
        img {
            // center align smaller images
            margin: auto auto;
            // reduce image size to match with sibling preview text
            max-height: 170px;
            width: auto;
        }
    }
}

.vyom-date {
    // make date less prominent
    color: #808080;
    float: left;
}

.vyom-list-item-meta-container {
    .vyom-list-item-date {
        color: #808080;
    }
    @media (min-width: 1200px) {
        overflow: auto;
        ::after {
            content: "";
            clear: both;
            display: table;
        }
        .vyom-list-item-heading {
            float: left;
        }
        .vyom-list-item-date {
            float: right;
        }
    }
}
