---
---

// Custom CSS added as per job post https://www.upwork.com/jobs/Renovate-static-blog-HTML-and-CSS_%7E01065076083bfce051 by Akash <vyom@vyom.site>

.about-page-image {
    // center align items
    text-align: center;
    // give space from following text
    margin-bottom: 20px;

    figcaption {
        // make caption different from rest
        color: gray;
        font-style: italic;
    }
}

.vyom-read-more-button {
    color: #009688;
    font-style: italic;
}

@media (min-width: 1200px) {
    .vyom-blog-archive-post-container {
        clear: both;
        .vyom-featured-image-container {
            float: left;
            width: 30%;
            padding-right: 20px;
        }
        .vyom-blog-excerpt-container {
            float: right;
            width: 70%;
        }
        
    }
}

@media (max-width: 1200px) {
    .vyom-featured-image-container {
        img {
            max-width: 200px;
        }
    }
}